@page "/"
@using System.Text;
@using System.Globalization;
@using Newtonsoft.Json;
@using AyanaWebApi.Models;
@inject HttpClient _http;

@if (_programsList == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Добавлен</th>
                <th>Название</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _programsList)
            {
                <tr>
                    <td>@item.Created.ToString("dd MMM yyyy", CultureInfo.CreateSpecificCulture("RU-ru"))</td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
}
@code
{
    private IList<RutorItem> _programsList;

    protected override async Task OnInitializedAsync()
    {
        GetList();
    }

    async void GetList()
    {
        var stringContent = new StringContent("", Encoding.UTF8, "application/json");
        var result = await _http.PostAsync("https://localhost:44334/TegreiUI/rutorList", stringContent);
        if (result.IsSuccessStatusCode)
        {
            var contents = await result.Content.ReadAsStringAsync();
            _programsList = JsonConvert.DeserializeObject<IList<RutorItem>>(contents);
            this.StateHasChanged();
        }
        else
        {
            _programsList = new List<RutorItem>();
        }
    }
}
