<div class="d-flex align-items-start align-self-end footer-dark">
    <footer>
        <div class="container" style="padding-right: 30px;padding-left: 30px;">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Контакты</h3>
                    <ul>
                        <li><a href="mailto:efanov.pa.a@gmail.com" target="_blank">Email</a></li>
                        <li><a href="https://t.me/yefan_p" target="_blank">Telegram</a></li>
                    </ul>
                </div>
            </div>
            <p class="copyright">@DateTime.Now</p>
        </div>
    </footer>
</div>