<div class="d-flex align-items-start footer-dark">
    <footer>
        <div class="container" style="padding-right: 30px;padding-left: 30px;">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Ссылки</h3>
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li><a href="#">Правообладателям</a></li>
                        <li><a href="#">Рекламодателям</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Дисклеймер</h3>
                    <p class="text-justify">
                        Вопросы, связанные с работай сайта, вы можете отправить на адрес электронной почты email.com.
                    </p>
                    <p class="text-justify">
                        Файлы для обмена предоставлены пользователями ресурса, администрация не несёт ответственности за их содержание. 
                        На сервере хранятся только торрент-файлы, т.е. ссылки и хэш-файлы. 
                        Это значит, что мы не храним никаких нелегальных материалов, а также материалов, охраняемых авторским правом.
                    </p>
                </div>
            </div>
            <p class="copyright">Company Name - @DateTime.Now.Year</p>
        </div>
    </footer>
</div>

@code { }
