<nav class="navbar navbar-dark navbar-expand-md navigation-clean" style="padding:0px;">
    <div class="container">
        <div>
            <a class="navbar-brand" href="#">Insight Scope </a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>

@code { }
